<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">
  <!-- Load Vollkorn font -->
  <link href='http://fonts.googleapis.com/css?family=Vollkorn:400italic,400' rel='stylesheet' type='text/css'>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Gamedev Canvas Workshop</title>
   <style>
      * { padding: 0; margin: 0; }
      canvas { background: #eee; display: block; margin: 0 auto; }
  </style>
</head>
<body>
  <canvas id="myCanvas" width="480" height="320"></canvas>

  <script>
  var canvas = document.getElementById("myCanvas");
  var ctx = canvas.getContext("2d");
  var ballRadius = Math.random() * 10;
  var x = Math.random() * 100;
  var y = Math.random() * 100;
  var a = Math.random() * 100;
  var b = Math.random() * 100;
  var c = Math.random() * 100;
  var d = Math.random() * 100;
  var dx = Math.random() * 10;
  var dy = Math.random() * 10;
  var da = Math.random() * 10;
  var db = Math.random() * 10;
  var dc = Math.random() * 10;
  var dd = Math.random() * 10;
  var rightPressed = false;
  var leftPressed = false;




  function drawBall() {
      ctx.beginPath();
      ctx.arc(x, y, ballRadius, 0, Math.PI*2);
      ctx.fillStyle = "blue";
      ctx.fill();

  }

  function drawBall1() {
      ctx.beginPath();
      ctx.arc(a, b, ballRadius, 0, Math.PI*2);
      ctx.fillStyle = "red";
      ctx.fill();

  }

  function drawBall2() {
      ctx.beginPath();
      ctx.arc(c, d, ballRadius, 1, Math.PI*2);
      ctx.fillStyle = "green";
      ctx.fill();
  }

  function draw() {

      drawBall();
      drawBall1();
      drawBall2();
      if(x + dx > canvas.width-ballRadius || x + dx < ballRadius) {
          dx = -dx;
      }
      if(y + dy > canvas.height-ballRadius || y + dy < ballRadius) {
          dy = -dy;
      }
      if(a + da > canvas.width-ballRadius || a + da < ballRadius) {
          da = -da;
      }
      if(b + db > canvas.height-ballRadius || b + db < ballRadius) {
          db = -db;
      }
      if(c + dc > canvas.width-ballRadius || c + dc < ballRadius) {
          dc = -dc;
      }
      if(d + dd > canvas.height-ballRadius || d + dd < ballRadius) {
          dd = -dd;
      }
      x += dx;
      y += dy;
      a += da;
      b += db;
      c += dc;
      d += dd;
  }

  setInterval(draw, 10);


  </script>
</body>
</html>
